.cf-cont {
    width: 1160px;
    min-width: 320px;
    margin: 0 auto;
    padding: 42px 0 36px;
    flex: 1;
    /* overflow-y: hidden; */
}

.linkt {
    line-height: 60px;
    font-size: 18px;
}

.links {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
}

.itemlink {
    width: 50%;
    line-height: 30px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
}

.itemlink a {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.itemlink span {
    display: inline-block;
    width: 28px;
    height: 28px;
    color: #616161;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #a9a9a9;
}

/* 搜索页ui */
.layui-anim.layui-anim-upbit {max-height: 600px;}
.title { font-size: 20px;margin-bottom: 2px;}
.sub-t { color: #7a7a7a;margin-bottom: 12px;}
.layui-laypage .layui-laypage-curr .layui-laypage-em {background: rgba(38, 38, 42, 0.72);}
.layui-table-checked {background: #ededed;}
.layui-table-hover {background: #e1e1e1 !important;}
.layui-form-checked[lay-skin=primary]>i { background: #939393; border: none; line-height: 18px !important;}
.layui-form-checkbox[lay-skin=primary]:hover>i {border-color: #939393;}
.layui-form-checkbox[lay-skin=primary]>.layui-icon-indeterminate { border-color: #939393;}
.layui-form-checkbox[lay-skin=primary]>.layui-icon-indeterminate:before {background-color: #939393;}
.layui-table-expanded .layui-table-cell {height: auto;max-height: 500px;}