body {
    background: #e3edc8;
}

.step {
    min-width: 1200px;
    width: 1300px;
    margin: 20px auto;
}

.step .t {
    font-weight: bold;
    line-height: 38px;
    font-size: 20px;
}

.step .layui-elem-quote {
    padding: 6px 15px;
}

.baiduMap {
    margin-top: 30px;
}

.left {
    width: 320px;
    height: 450px;
    background: #87c903;
    float: left;
    margin-left: 100px;
    box-shadow: -3px 0px 10px 1px rgb(0, 0, 0, .5);
}

.right { 
    width: 760px;
    height: 450px;
    background: #fff;
    float: left;
}

.year-box {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.year{
    cursor: pointer;
} 

.month-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-ul {
    width: 700px;
    display: flex;  
    justify-content: center;
}

.month-ul li {   
    width: 53px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.month-ul li.active {
    font-weight: bold;
    color: #3e3e3e;
    background: #94ee0db0;
    border-radius: 50%;
}

.month-ul li:hover {
    color: #3e3e3e;
    background: #a3eb373c;
    border-radius: 50%;
}

.month-pre,.month-next{ 
    margin: 0 15px;    
    cursor: pointer;
    width: 60px;  
    height:32px;   
    text-align: center;   
    line-height: 32px; 
    /* background: #1d1d1d;   */
}
.month-pre img{ 
    transform: rotate(180deg);
}

.week-box {
    display: flex; 
    justify-content: center;
}

.week-ul {
    width: 700px;
    padding: 0 9px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.week-ul li {
    width: 110px;
    text-align: center;
    cursor: pointer;
}

.day-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.day-ul {
    width: 700px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 9px;
}

.day-ul li {
    line-height: 55px;
    width: 14.25%;
    cursor: pointer;
}

.day-ul li.active {
    font-weight: bold;
    color: #ffffff;
    background: #449de2b0;
    border-radius: 50%;
}

.day-ul li:hover {
    border-radius: 50%;
    background: #459de1da;
    color: #ffffff;
}