::-webkit-scrollbar {
    width: 13px;
}

.main {
    width: 100%;
    height: 100%;
    /* overflow-y: scroll;      */
    /* position: relative; */
}

/* header */
.pc-header {
    height: 66px;
    background: rgba(38, 38, 42, 0.872);
}

.pc-header .header-inner {
    width: 1160px;
    min-width: 320px;
    margin: 0 auto;
    color: #ebebeb;
    line-height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pc-header .header-inner .inner-l {
    display: flex;
    align-items: center;
}

.header-inner .inner-l .inner-l-text {
    display: flex;
    align-items: center;
}

.inner-l .inner-l-text p {
    margin-right: 8px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.inner-l .inner-l-text i {
    font-size: 25px;
}

.header-inner .inner-l .inner-l-search {
    margin-left: 22px;
    display: flex;
    align-items: center;
    position: relative;
}

.inner-l .inner-l-search i {
    position: absolute;
    left: 15px;
    top: -19px;
    color: #000;
    font-size: 14px;
}

.inner-l .inner-l-search input {
    width: 180px;
    display: block;
    border-radius: 3px;
    padding: 6px 10px 6px 39px;
    background: #eaeaea;
    color: #616161;
    cursor: pointer;
    line-height: normal;
}
 
.inner-l  .inner-l-open{ 
    display: none;
}
 
.header-inner .inner-r {
    margin-top: -1px;
}

.header-inner .inner-r .layui-nav {
    background: none;
    padding-right: 0;
}

.inner-r .layui-nav .layui-this:after,
.inner-r .layui-nav .layui-nav-bar {
    background: #c3c3c3;
    height: 3px;
}

.inner-r .layui-nav .layui-nav-item {
    top: 2px;
}

/* layui 重写 */
.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
    font-weight: bold;
}

.pc-wrap .layui-tab-content {
    padding:15px 15px 30px; 
}

.pc-wrap .layui-tab .layui-tab-title {
    height: 45px;
}

.pc-wrap .layui-tab .layui-tab-title li {
    line-height: 45px; 
}

.pc-wrap .layui-elem-quote {
    padding: 10px 15px;
    border-color: rgba(51, 51, 55, 0.872);
    ;
}
.pc-wrap .layui-tab-title .layui-this:after{
    height: 45px; 
}
/* wrap */
.pc-wrap {
    height: 100%;
    margin: 0 auto;
}

/* loading */
.load {
    background: #fdfdfd;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader_wp {
    height: 60px;
    margin-top: -(20px);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.loader {
    animation: 1.1s linear 0s normal none infinite rotate;
    border-color: rgb(193, 193, 193) rgb(193, 193, 193)rgb(81, 134, 177);
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    font-size: 10px;
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;
}

.loader,
.loader:after {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.progress {
    display: none;
    color: #fff;
    font-size: 16px;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin: -(15px) 0 0 -(20px);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


@media screen and (max-width:1130px) {
    .pc-header .header-inner {
        width: 900px;
    }

    .pc-cont .cont-link .link-ul {
        padding-left: 50px;
    }

    .pc-cont .cont-link .link-item {
        width: 800px;
    }

    .pc-cont .cont-top {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .pc-cont { 
        width: 800px;
    }

    .pc-header .header-inner .inner-l {
        display: none;
    }
}

@media screen and (max-width:750px) {

    .pc-cont .cont-link .link-ul {
        padding-left: 50px;
    }

    .pc-cont .cont-link .link-item {
        width: 600px;
    }

    .pc-cont {
        overflow-x: auto;
        min-width: 600px;
    }
}